@use 'reset';
@use 'variables/global.scss';
@use "themes/normal.scss";
@use "themes/dark";

.app {
  font-size: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}