.app.dark {
  --bg-color: #05054f;
  --inverted-bg-color: #e1e1e7;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #061b75;
  --inverted-secondary-color: #0a3bb7;
}