.app_light_theme {
    --bg-color: #e1e1e7;
    --dark-bg-color: #e1e1e7;
    --light-bg-color: #e1e1e7;
    --inverted-bg-color: #0c1214;
    --text-color: #141c1f;
    --inverted-text-color: #dbdbdb;
    --hint-color: #adbcc0;
    --cancel-color: #f77;
    --save-color: #62de85;
    --icon-color: #5ed3f3;
    --accent-color: #00c8ff;
    --inverted-primary-color: #DBDBDB;
    --inverted-secondary-color: #bebdbd;
}
