.app.light {
  --bg-color: #e1e1e7;
  --inverted-bg-color: #05054f;

  --primary-color: #061b75;
  --secondary-color: #0a3bb7;
  --inverter-primary-color: #049604;
  --inverter-secondary-color: #04ff04;
}